<!DOCTYPE html>
<html lang="en">
<head>
  <title>Petri Says</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <header>
      <nav>
        <div>
          <a class="navbar-brand" href="/">Petri Says</a>
          <% if current_user %>
            <p>Hello, <%= current_user.name %></p>
            <ul>
              <li><%= link_to "Your tweets", tweets_path %></li>
              <li><%= link_to "Peep to Tweet!", new_tweet_path %></li>
              <li><%= link_to "Sign out", signout_path %></li>
            </ul>
          <% end %>
        </div>
      </nav>
      <% flash.each do |title, msg| %>
        <%= content_tag :div, msg, id: "flash_#{title}" %>
      <% end %>
    </header>

    <%= yield %>

  </div>

  <footer>
    <p>Copyright &copy; 2014 Mike Tracy, Petri the Bird</p>
  </footer>

</body>
</html>
